In [2]:
select count(*) from sales.invoices

(No column name)
70510